

<h1>La inscripción a la Carrera de dio de baja</h1>
<br />
<p>Para volver a inscribirte debes registrate nuevamente.</p>
<br />
<p><a href="https://localhost:44321/Alumno/CrearAlu" class="btn btn-lg">Volver</a></p>





