
<div class="box1">
    <div>
        <div>
            <h1>La inscripción a la Carrera se dio de baja</h1>
        </div>
        <br />
        <p>Para volver a inscribirte debes registrate nuevamente.</p>
        <br />
        <p><a href="https://localhost:44321/Alumno/CrearAlu" class="btn-lg">Volver</a></p>
    </div>
</div>





