
@{ 
    //ViewBag.Message = "1234";
}

<h1>Te Registraste con Éxito</h1>
<br />
<p>Tu nuevo ID de Alumno es <strong>@ViewBag.Message</strong> . Lo necesitarás para inscribirte a Materias</p>
<br />
<p><a href="https://localhost:44321/Alumno/CrearAlu" class="btn btn-lg">Volver</a></p>





