@model UA.Models.LogInViewModel

<div class="box1">
    <div>
        <div>
            <h1>Log In</h1>
        </div>
        <form action="/Alumno/LogIn" method="POST">
            <label for="ID">ID del Alumno</label><br />
            <input class="form-control" type="number" id="ID" name="ID" value="@Model.Id" />
            <span style="color:red">@Html.ValidationMessageFor(m => m.Id)</span><br />
            <br />
            <div class="flex-container">
                <div>
                    <button class="createbtn">Ingresar</button>
                </div>
            </div>
        </form>

    </div>
</div>
