@model UA.Models.Alumno.ID

<h1>Log In</h1>

<div>
    <form action="/Alumno/MateriasAlu" method="POST">
        <label for="ID">ID del Alumno</label><br />
        <input class="form-control" type="text" id="ID" name="ID" value="@Model.ID" />
        @*<span style="color:red">@Html.ValidationMessageFor(m => m.Nombre)</span><br />*@

        <button class="boton-switch">Ingresar</button>
    </form>
    <br />
    
</div>
