<p>Espacio del Administrador</p>

<h1>Se registró la Carrera</h1>
<br />
<p>Ahora es necesraio cargar sus Materias</p>
<br />
<p><a href="https://localhost:44321/Admin/index" class="btn btn-lg">Volver</a></p>



