<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniversidadAlchemit</title>
    <link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" />
</head>
<div class="box1">
    <div>
        <div>
            <h1>Se registró la Carrera</h1>
        </div>
        <br />
        <div>
            <p>Ahora es necesario cargar sus Materias</p>
        </div>
        <br />
        <div class="flex-container">
            <div>
                <p><a href="https://localhost:44321/Admin/index" class="btn-lg">Volver</a></p>
            </div>
        </div>
    </div>
</div>



