body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #1BB769;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Style Alchemit*/

/*.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.buttons {
    display: flex;
    padding: 10%;
}*/

/*
.btn {
    text-decoration: none;
    padding: 20px 50px;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 32px;
    line-height: 76px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 300%;
    font-weight: 600;
    background: #FFFAFA;
    width: 421.37px;
    height: 450px;
    line-height: 421.37px;
    padding: 20px;
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

    .btn:hover, .btn:focus, .btn:active {
        box-shadow: 13px 16px 32px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);

    .boton {
    height: 160px;
    width: 210px;
    margin: 80px;
    font-size: 28px;
    font-family: Arial;
    font-weight: bold;
    color: black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    background: white;
    cursor: pointer;
    border: 0px
}

.caja {
    width: 380px;
    height: 480px;
    position: relative;
    border-radius: 15px;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.caja-switch {
    width: 275px;
    margin: 35px auto auto 45px;
    position: relative;
    background-color: #1BB769;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.boton-switch {
    background: transparent;
    margin: 35px 50px 50px 95px;
    position: relative;
}

.boton-switch1 {
    width: 200px;
    background: transparent;
    margin: 35px auto 50px 20px;
    position: relative;
}

#btn {
    top: 2px;
    left: 3px;
    position: absolute;
    width: 150px;
    height: 100%;
}

#btn1 {
    margin: auto auto auto auto;    
    position: relative;
    width: 150px;
    height: 100%;
}

.formulario {
    top: 100px;
    position: absolute;
    width: 280px;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    display: flex;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: bold;
    background: linear-gradient(to right, #1BB769, lightgreen);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.caja2 {
    top: 390px;
    position: relative;
}

.caja3 {
    top: 250px;
    position: relative;
}


#izq {
    left: 50px;
}

#uno {
    left: 50px;
    top: 150px;
}


#der {
    top: 200px;
    left: 50px;
}

.caja5 {
    width: 380px;
    height: 600px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.caja4 {
    border-radius: 15px;
    width: 900px;
    position: relative;
    margin: auto auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.submit-btn2 {
    width: 17%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-weight: bold;
    background: linear-gradient(to right, #A2FEC8, #E1FFED);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.submit-btn3 {
    width: 80%;
    padding: 1px 34% ;
    margin: auto;
    color: #FFFFFF;
    font-weight: bold;
    background: #000000;
    outline: none;
    border-radius: 15px;
}
    }*/