@model UA.Models.MateriaLogInViewModel

<div class="box1">
    <div>
        <div>
            <h1>Filtro de Materias</h1>
        </div>
        <div>
            <form action="/Profesor/Index" method="POST">
                <label for="ID">ID de la Materia</label><br />
                <input class="form-control" type="text" id="ID" name="ID" value="@Model.ID" />
                <span style="color:red">@Html.ValidationMessageFor(m => m.ID)</span><br />
                <br />
                <div class="flex-container">
                    <div>
                        <button class="createbtn">Ingresar</button>
                    </div>
                </div>
            </form>

            <br />
        </div>
    </div>
</div>